
server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true

    
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
      
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pos?serverTimezone=Asia/Seoul
    username: pos
    password: pos1234
    
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
     hibernate.format_sql: true

  jackson:
    serialization:
      fail-on-empty-beans: false
      
  security:
    oauth2:
      client:
        registration:
         google:
            client-id: 688917139907-dld6lb22gg5b18sfq16i8clutcltlamb.apps.googleusercontent.com
            client-secret: MY-LLq1VAbTHrqvehR5jL1d4
            scope:
            - email
            - profile
            
            
         facebook:
            client-id: 159119366054480
            client-secret: 9d6e5e52a22918cadf7f58e97f74af49
            scope:
            - email 
            - public_profile
            
         naver:
           client-id: mUpFez5sTRYw42l7BSE5
           client-secret: ogUqIFe2XZ
           scope:
           - id           - email
           - name
           authorization-grant-type: authorization_code
           redirect-uri: http://localhost:8080/login/oauth2/code/naver
           client-name: Naver
           
         kakao:
           client-id: 809151ef78dac554720de055bf80594d
           scope:
           - account_email
           authorization-grant-type: authorization_code
           redirect-uri: http://localhost:8080/login/oauth2/code/kakao
           client-name: Kakao
           client-authentication-method: post
                    provider:
         naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          
         kakao:
           authorization-uri: https://kauth.kakao.com/oauth/authorize
           token-uri: https://kauth.kakao.com/oauth/token
           user-info-uri: https://kapi.kakao.com/v2/user/me
           user-name-attribute: id          
         